body{text-align:center} 
	#main{
		margin:0 auto;
		width:800px;
		height:600px;
		position:relative
	}
	
	#topLR{
		position: absolute;
		width:150px;
		height:25px;
		top:25px;
		right:50px;
	}
	
	#nav{
		position: absolute;
		width:600px;
		height:25px;
		font-size:25px;
		top:100px;
		right:100px;
	}
	#nav ul
	{
		list-style-type:none;
		margin:0;
		padding:0;
		padding-top:6px;
		padding-bottom:6px;
	}
	#nav li
	{	
		float:left;
		display:inline;
		padding-left: 10px;
		padding-right: 10px;
	}
	#nav a
	{	
		text-decoration:none;
		text-align:center;
		display:block;
	}
	
	#searchbox{
		position: absolute;
		height:25px;
		font-size:25px;
		top:60px;
		right:80px;
	}	
	
	.lable{
		text-align:right;
		width:100px;
	}